<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../static/style/style.css" rel="stylesheet" type="text/css"/>
    <link href="../static/style/login_register.css" rel="stylesheet" type="text/css"/>
    <title>DiscountShare</title>
  </head>
  <body>
    <main>
        <section class="main-section">
            <div class="main-content-wrap">
              <h1 class="main-logo">Discount<span>Share</span></h1>
              <form class="login-form">
                <input type="text" class="form-input" placeholder="Username" />
                <input type="password" class="form-input" placeholder="Password" />
                <button type="submit" class="form-submit">Sign in</button>
                <span class="form-prompt">Don't have an account? <a>Sign up</a></span>
              </form>
            </div>
        </section>
        <section class="image-section">
          <pane></pane>
          <h2>
            Find the best discounts with the power of crowdsourcing.
          </h2>
        </section>


    </main>
	<script src="index.js"></script>
  </body>
</html>
