* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background:#51A3A3;
}
  
::selection {
    color: #fff;
    background:#51A3A3;
}

body {
    background-color: #EEF0F2;
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Thin.ttf');
    font-weight: 100;
}

@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
}