.score-text {
    font-family: "Roboto", sans-serif;
    font-size: 2.4rem;
    font-weight: 300;
    color: #39806E;
    margin-top: 15px;
}

.tokens-text {
    font-family: "Roboto", sans-serif;
    font-size: 2.4rem;
    font-weight: 300;
    color:#266dd3;
    margin-top: 15px;
}