nav {
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: #0d1015;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-burger-menu {
    display: none;
}

.nav-logo {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    padding-right: 8px;
    padding-left: 8px;
    position:relative;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 4rem;
    user-select: none;
    width: 100%;
}

.nav-logo span {
    color: #51A3A3;
}

.nav-links-wrap {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-link {
    text-decoration: none;
    width: 100%;
    cursor: pointer;
    display: inline-block;
    user-select: none;
    position: relative;
    line-height: 1.2;
    padding: 1.1rem 0;
    font-size: 1.2rem;
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: #0d1015;
    transition: all .15s;
}

.nav-link span {
    position: relative;
    left: 0;
    transition: all .15s;
}

.nav-link:hover span {
    left: 4px;
}

.nav-link:hover {
    color: #51A3A3;
    box-shadow:inset 4px 0px #51A3A3;
}

.nav-link-active {
    color: #51A3A3;
    cursor: default;
    box-shadow:inset 4px 0px #51A3A3;
}

.nav-link-active span {
    left: 4px;
}

.logout-link {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: rgb(112, 112, 112);
    font-size: 1.2rem;
    line-height: 4rem;
    cursor: pointer;
    transition: all .15s;
}

.logout-link:hover {
    color: #fff;
}

.internal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-top: 20px;
}

.internal-form-input {
    width:90%;
    padding: 15px 10px;
    outline:none;
    font-family: "Roboto";
    font-weight: 300;
    border:none;
    margin-bottom:15px;
    font-size: 0.8rem;
    border-radius:5px;
    color: rgb(34, 34, 34);
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-bottom: solid 1px rgb(206, 206, 206);
    transition: all .25s;
}

.internal-form-input:focus {
    box-shadow: rgba(57, 128, 110, 0.1) 0px 4px 12px;
    border-bottom: solid 1px #39806E;
}

.internal-form-submit {
    padding: 10px 70px;
    color: #fff;
    cursor: pointer;
    border:none;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1rem;
    border-radius: 50px;
    background-color:#39806E;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    outline:none;
    transition: all .25s;
}

.internal-form-submit:hover {
    background-color:#316e5f;
    box-shadow: rgba(57, 128, 110, 0.1) 0px 4px 12px;
    padding: 10px 75px;
}

.internal-form-submit:active {
    background-color:#31695b;
}

.internal-form-file-label {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: #0d1015;
    padding: 13px 20px;
    border-radius: 4px;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.internal-form-file-label .material-icons {
    font-size: 1rem;
    margin-right: 5px;
}

.internal-form-file-selected {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    margin: 5px 0;
}

main {
    width: 80%;
    margin-left: 20%;
    padding: 1rem;
    min-height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    font-size: 3rem;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color: #0d1015;
    text-align: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 50px;
    opacity: 0;
}

.not-on-hold {
    opacity: 1 !important;
    animation: elementEnterPage .15s;
}

.page-section {
    width: 60%;
    min-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    opacity: 0;
}

@keyframes elementEnterPage {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}




.page-section-header {
    font-family: "Roboto" ,sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    text-align: center;
}

.table-page-section {
    width: 100%;
}

.data-table-wrap {
    width: 90%;
    overflow-x: auto;
    overflow-y: scroll;
    margin-bottom: 100px;
    max-height: 600px;
    display: block;
}

.data-table {
    position: relative;
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    overflow-y: visible;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
}

.data-table th, .data-table td {
    line-height: 1.2;
    font-family: "Roboto", sans-serif;
    padding-top: 14px;;
    padding-bottom: 14px;;
    font-size: 1rem;
}

.data-table th {
    position: sticky;
    top: 0%;
    z-index: 9999;
    background-color: #0d1015;
    color: white;
}

.data-table td {
    visibility: visible;
    color: #000;
    margin-top: 14px;
    position: relative;
    min-width: 150px;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 200px;
    word-wrap: break-word;
    white-space: normal;
}

.data-table tr {
    background-color: #fff;
}

.data-table tr:nth-child(even) {
    background-color: rgb(250, 250, 250);
}

.no-results {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 10vh;
    color: rgb(110, 110, 110);
}

.internal-dropdown {
    background-color: #fff;
    color:rgb(95, 95, 95);
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    border: none;
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 7px 10px;
}

.internal-pager-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.internal-pager-wrap .material-icons {
    font-size: 1.8rem;
    user-select: none;
    color: rgb(138, 138, 138);
    cursor: pointer;
    transition: all .15s;
    position: relative;
    left:0;
}

.internal-pager-wrap .material-icons:hover {
    /* color: rgb(0, 0, 0); */
    color: #056147;
}

.pager-left:hover {
    left: -3px;
}

.pager-right:hover {
    left: 3px;
}

.internal-pager-text {
    color: #3d3d3d;
}

.loader {
    right: 60px !important;
    left:auto !important;
}



@media (max-width: 768px) {
    nav {
        position: fixed;
        width: 100%;
        height: 100vh;
        left:0;
        top:0;
        z-index: 100;
        overflow-y: hidden;
        height: 4rem;
    }

    .nav-active {
        height: 100vh;
    }

    .nav-link {
        min-height: min-content;
    }
    .nav-burger-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 4rem;
        width: 4rem;
        color: #fff;
        cursor: pointer;
    }

    .nav-logo {
        width: auto;
        line-height: 4rem;
        margin:0 auto;
    }

    main {
        width: 100%;
        margin-left: 0;
        padding: 0;
        padding-bottom: 20px;
    }

    .page-section {
        width: 90%;
        min-width: 200px;
    }

    .page-title {
        font-size: 2.1rem;
        margin-top: 6rem;
    }

    .internal-form {
        width: 100%;
    }

    .data-table td {
        padding-top: 5px;
        padding-bottom: 5px;
        max-width: 50px;
    }

}