nav {
    padding:0;
    border-bottom: solid 1px rgb(218, 218, 218);
}

.nav-container {
    width:80%;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

.nav-logo {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 1.3rem;
    padding-right: 8px;
    padding-left: 8px;
    position:relative;
    display: inline-block;
    text-decoration: none;
    line-height: 4rem;
    user-select: none;
}

.nav-logo span {
    color: #51A3A3;
}

.nav-btn-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.nav-btn {
    line-height: 4rem;
    font-family: "Roboto";
    font-weight: 400;
    color: rgb(90, 90, 90);
    font-size: 1rem;
    position:relative;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    padding-left: 18px;
    padding-right: 18px;
    transition: all .15s;
}

.nav-btn:hover {
    color: #000;
}

#map {
    width:100%;
    /*
    This would normally be -70px, since the navbar height
    is set by the line-height of the elements in the navbar.
    However, since the box-sizing is set to border-box, the 
    bottom border counts towards the height of the element.
    Hence, the additional -1px;
    */
    height: calc(100vh - (4rem + 1px));
}

.popup {
    display: flex;
    flex-direction: column;
}

.popup-title {
    position:relative;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin:0;
}

.popup-property {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0 0 !important;
    color: rgb(90, 90, 90);
    margin:0;
}

.popup-property span {
    color: #000;
}

.popup-btn {
    border: none;
    background-color: red;
    font-family: 'Roboto', sans-serif;
    color: #39806E;
    background-color:#fff;
    margin-top:8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    border: solid 1px #39806E;
    border-radius: 3px;
}

.popup-btn:hover {
    background-color:#39806E;
    color: #fff;
}

.filters-wrap {
    position: fixed;
    bottom: calc(-35vh + 4.2rem - 67px);
    right: 4rem;
    width: 25%;
    min-width: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #EEF0F2;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    z-index: 1001;
}

.filters-header {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4.2rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #000;
    cursor: pointer;
}

.filters-header h2 span {
    color: white;
    translate: 0px 3px;
    margin-right: 7px;
    font-size: 1.2rem;
}

.filters-header h2 {
    margin-left: 1.2rem;
    font-weight: 400;
    font-size: 1.2rem;
}

.expand-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 1rem;
    color: rgb(160, 160, 160);
}

.filters-body {
    height: 100%;
    overflow-y: scroll;
    height: 35vh;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 90%;
    margin: 0 auto;
}

.filters-body input {
    display: nonte;
}


.filters-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.filters-active {
    bottom:0;
}

.discounts-wrap {
    position: relative;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.discount {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px 25px;
    max-width: 300px;
    margin: 20px 20px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-top: solid 3px #39806E;
    font-family: "Roboto", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.discount-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.discount-top-bar .material-icons {
    translate: 0px 3px;
}

.discount-stock-status {
    color: rgb(49, 49, 49);
    font-weight: 300;
}

.discount-title {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 7px;
}

.discount-banner {
    margin-bottom: 10px;
}

.discount-date, .discount-user {
    color:rgb(70, 70, 70);
    font-weight: 300;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
}

.discount-user .material-icons {
    margin-right: 3px;
    color:rgb(90, 90, 90);
    font-size: 1rem;
}
.discount-date .material-icons {
    margin-right: 3px;
    color:rgb(90, 90, 90);
    font-size: 1rem;
}

.discount-bottom-bar {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.discount-review-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 15px;
    margin-top:10px;
    padding-top:20px;
    border-top: solid 1px rgb(224, 224, 224);
    width: 100%;
    justify-content: center;
}

.discount-review-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 8px;
    color:rgb(110, 110, 110);
}

.discount-review-btn .material-icons {
    margin-right: 4px;
    font-size: 1.2rem;
}

.discount-price {
    font-size: 2rem;
    font-weight: 400;
    color:#39806E;
}

.discount-like {
    color: #056147;
}

.discount-dislike {
    color: #A44A3F;
}

.discount-mark-oos {
    color: #0f3650;
}

.discount-week-deal {
    color:rgb(255, 145, 0);
}

.discount-day-deal {
    color: red;
}

.no-discounts {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 15vh;
    color: rgb(110, 110, 110);
}